<div class="content">
        <div class = "box"> 
               
                <div class="description">
                        Odkryj najwyższy poziom personalizacji w wyszukiwaniu warsztatów! Nasza innowacyjna platforma umożliwia szybkie i precyzyjne znalezienie idealnego serwisu dla Twojego pojazdu. Wybierz markę, model, generację,
                        typ nadwozia i konfigurację silnika oraz skrzyni biegów - a także, po raz pierwszy, możesz opisać objawy problemu. Nasza zaawansowana technologia wyszukiwania znajdzie dla Ciebie idealne rozwiązanie,
                         gwarantując szybką naprawę i bezpieczeństwo na drodze. Nie trać czasu na poszukiwanie - znajdź najlepszy warsztat już teraz!
                         <br>Nie pamiętasz, gdzie ostatnio serwisowałeś swój pojazd? To żaden problem! Dzięki naszej platformie możesz łatwo sprawdzić historię wszystkich swoich napraw. 
                         Nie trać czasu na szukanie starych faktur czy notatek - sprawdź historię napraw z łatwością!
                      
                        </div>
                <div class="image-box">
                        <img src = "assets/img/mechanic.jpg"class ="img">
                </div>
         </div>
         <div class="buttons">
                 <button mat-raised-button class="button" routerLink="/find-car-repair-shop">Znajdź warsztat</button>
                 <button mat-raised-button class="button" routerLink="/rate-car-repair-shop">Oceń warsztat</button>
                 <button mat-raised-button class="button" routerLink="/malfunction-history">Historia napraw</button>
         </div>
</div>

