
mat-card {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 30px;
    bottom: 20px;
    display: block;
}
mat-form-field {
    display: block;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}