
<mat-card id="matcard">
    <form>
        <mat-card-title>Rejestracja</mat-card-title>
        <mat-form-field appearance="fill" >
            <mat-label>Adres email</mat-label>
            <input matInput placeholder="pat@example.com" [formControl]="email" email required>
            <mat-error *ngIf="email.invalid">{{getErrorMessageMail()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Imię</mat-label>
            <input matInput placeholder="John" [formControl]="name" required>
            <mat-error *ngIf="name.invalid">{{getErrorMessageName()}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
              <mat-label>Nazwisko</mat-label>
              <input matInput placeholder="Doe"  [formControl]="surname" required>
            <mat-error *ngIf="surname.invalid">{{getErrorMessageSurname()}}</mat-error>
            </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Hasło</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" [formControl]="password" (ngModelChange)="onPassword()" required>
            <mat-error *ngIf="password.hasError('minlength')">{{getErrorMessageMinLenght()}}</mat-error>
            <mat-error *ngIf="password.hasError('required')">{{getErrorMessagePassword()}}</mat-error>
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" >
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Powtórz hasło</mat-label>
            <input matInput [type]="hideRepeatPassword ? 'password' : 'text'" [formControl]="repeatPassword" required>
            <mat-error *ngIf="repeatPassword.hasError('minlength')">{{getErrorMessageMinLenght()}}</mat-error>
            <mat-error *ngIf="repeatPassword.hasError('required')">{{getErrorMessagePassword()}}</mat-error>
            <mat-error *ngIf="repeatPassword.hasError('matchError') && !repeatPassword.hasError('required') && !repeatPassword.hasError('minlength')">{{getErrorPasswordMismatch()}}</mat-error>
            <button mat-icon-button matSuffix (click)="hideRepeatPassword = !hideRepeatPassword">
                <mat-icon>{{hideRepeatPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <button mat-raised-button  class = "form-button" (click)="register()">Zarejestruj się</button>
    </form>
</mat-card>