
  <mat-form-field class="select">
    <mat-label>Category</mat-label>
    <select matNativeControl required>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
  </mat-form-field>

  <mat-form-field class="select">
    <mat-label>Mulfunction</mat-label>
    <select matNativeControl required>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
  </mat-form-field>