<mat-form-field class="select">
    <mat-label>Brand</mat-label>
    <select matNativeControl required>
      <option value="brand1">Brand1</option>
      <option value="brand2">Brand2</option>
    </select>
  </mat-form-field>

  <mat-form-field class="select">
    <mat-label>Model</mat-label>
    <select matNativeControl required>
      <option value="model1">Model1</option>
      <option value="model2">Model2</option>
    </select>
  </mat-form-field>
  
  <mat-form-field class="select">
    <mat-label>Generation</mat-label>
    <select matNativeControl required>
      <option value="generation1">generation1</option>
      <option value="generation2">generation2</option>
    </select>
  </mat-form-field>

  <mat-form-field class="select">
    <mat-label>Body type</mat-label>
    <select matNativeControl required>
      <option value="body1">Body1</option>
      <option value="body2">Body2</option>
    </select>
  </mat-form-field>

  <mat-form-field class="select">
    <mat-label>Type of fuel</mat-label>
    <select matNativeControl required>
      <option value="fuel1">fuel1</option>
      <option value="fuel2">fuel2</option>
    </select>
  </mat-form-field>

  <mat-form-field class="select">
    <mat-label>Engine capacity</mat-label>
    <select matNativeControl required>
      <option value="capacity1">capacity1</option>
      <option value="capacity2">capacity2</option>
    </select>
  </mat-form-field>

  <mat-form-field class="select">
    <mat-label>Year of production</mat-label>
    <select matNativeControl required>
      <option value="1">1</option>
      <option value="2">2</option>
    </select>
  </mat-form-field>


  
