:host {
    height: 100%;
    display: block;
}

.logo{
margin-left: auto;
margin-right: auto;
padding-top: 5pt;
display: block;
width: 20%;
height: auto;
}

.black{
    width: 100%;
    height: 120pt;
    background-color:#000000;
}