mat-card {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 20px;
    position: absolute;
}

mat-form-field {
    display: block;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 1rem;
}
.form-button{
    margin-top: 1rem;
}

.error-container{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding: 1.3333333333rem 1rem;
    background: #fdeeee;
    border: 0.5px solid #d10303;
    border-radius: 10px;
}